* {
    padding: 0;
    margin: 0;
    background-color: #f9b9ca;
}
body {
    counter-reset: count;
}
h1, h2 {
    background-color: rgb(32, 20, 20);
    color: rgb(231, 76, 76);
    border-right: 295px solid #f9b9ca;
    padding: 14px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    text-align: center;
    font-size: 32px;
    margin: 25px auto;
    
}
p, ul li, ol li p {
    font-size: 24px;
    color: #93622e;
    line-height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-top: 30px;

}
ol {
    list-style: none;
    width: 532px;
    margin: 0;
    padding: 0;
}
ol li {
    width: 100%;
    margin-left: 74px;
}


ol li:before{
    counter-increment: count;
    content:"Step " counter(count);
    background-color: #6a8b5261;
    padding: 18px;
    border-radius: 36%;
    margin-bottom: 3px;
    margin-top: 27px;
    display: inline-block;
    width: fit-content;
    height: 32px;
    text-align: center;
    font-size: 25px;
}